
* {

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
  }
  body{
    background-color: rgb(172, 165, 187);
    background:linear-gradient(90deg,rgb(73, 73, 77)0%,rgb(69, 18, 224)35%,  
    rgba(187, 10, 151, 0.637));
  }
  h1{
    margin-top: 40px;
    text-align: center;
    color: white

  }
  #container {
    width: 500px;
    /* background-color: white; */
    background:linear-gradient(to right,#b4bfbc, #9db7b9,#c4e3bf);
    padding: 20px;
    margin: 0 auto;
    box-sizing:border-box;
    border-radius: 10px;
    border: 1px solid rgb(153, 51, 150);
   }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid #e5e5e5; */
  }
  ul li {
    padding: 10px;
    /* padding-left: 0; */
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    align-items: center;
  }
  ul li:hover {
    background: #f3f3f3;
  }
  #list input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  #list label {
    position: relative;
    cursor: pointer;
  }
  
  #list label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
  }
  #list input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  #list input:checked + label:before {
    background: #0079bf;
  } 
  #list input:checked + label {
    text-decoration: line-through;
  }
  .delete {
    height: 28px;
      padding: 5px 0px;
      border-radius: 3px;
  }
  .delete:hover {
    background: #f2f2f2;
    cursor: pointer;
  }
 
  .add-task {
    width: 100%;
      outline: none;
      font-size: 15px;
      padding: 11px;
      border: 3px solid #07e195;
      margin-bottom: 3px;
      border-radius: 15px;
  }
  #total-tasks, #tasks-counter { 
    font-size: 13px;
    padding-top:5px ;
    padding-bottom: 5px;
    color: white;
  }
  #total-tasks{
    padding-left:5px ;
    width:60%;
  }
  #list #span{
    color: rgb(177, 57, 57);
    font-weight: 600;
    text-align: center;
    align-items: center;
    margin: auto;
    
    margin-left:30%;
    padding: 10px;
  }
  #tasks-counter{
    padding-right: 0px;
    height:28px;
    margin: auto;
    margin-right: 5px;
    width:28px;
    font-weight: 600;
    background-color: white;
    align-items: center;
    color: black;
    border-radius: 100%;
  }
  #tasks-counter span {
    text-align: center;
    margin-left: 10px;
    padding-left: 0px;
  }
  .task{
    display: flex;
    border: 1px solid black;
    width:30%;
    border-radius:20px ;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    background:linear-gradient(to bottom right, rgb(200, 11, 175),rgb(31, 13, 166));
    justify-content: space-between;
  }